.movie {
  display: grid;
  background-color: white;
  margin-bottom: 40px;
  font-weight: 500;
  padding: 30px;
  color: gray;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  border-radius: 15px;
}

.movie :nth-child(1) {
  width: 100%;
}
.movie_img {
  width: 200px;
}

.movie_title {
  color: black;
}

.movie_img {
  border-radius: 10px;
  place-items: center;
}

@media screen and (max-width: 650px) {
  .movie {
    grid-template-columns: 1fr;
  }
  .movie div:nth-child(1) {
    display: flex;
    justify-content: center;
  }
  .movie_img {
    width: 100%;
  }
}
